/*STYLE SHEET */

/*-----------------*/

/* GLOBALS */

html {
  font-size: 62.5%;
}

.bg-orange {
  background-color: #f72210 !important;
  color: #fff !important;
  padding: 0 0.5rem !important;
}

@media (min-width: 1440px) {
  .container-large {
    width: 1440px;
    margin: 0 auto;
  }
}

/* NAVIGATION BAR */

.bg-red-custom,
.sing-up-btn {
  background-color: #f72210;
}

.page-logo {
  width: 92%;
  fill: #fff;
}

.menu-icons i {
  font-size: 1.5rem;
  opacity: 0.7;
}

.btn-subscription button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.175rem 0.75rem;
  border-radius: 1rem;
  background-color: #ffe400;
}

.btn-subscription button i {
  font-size: 1rem;
  font-weight: 600;
}

/*NAVBAR 768px VP */

@media (min-width: 768px) {
  .page-logo {
    width: 50%;
  }
  .login-btn,
  .btn-subscription button {
    font-size: 1.7rem;
  }
  .login-btn {
    border: none;
    font-weight: bold;
    margin-right: 1rem;
  }
  .btn-subscription button {
    padding: 0rem 0.75rem;
  }
  .btn-subscription button i {
    font-size: 1rem;
    font-weight: 600;
  }
  .menu-icons i {
    font-size: 2rem;
  }
}

/*NAVBAR 992px VP */

.location-info {
  font-size: 1.6rem;
}

@media (min-width: 992px) {
  .page-logo {
    width: 150%;
    padding-left: 5rem;
  }
  .login-btn {
    margin-right: 2rem;
  }
}

/*----------------*/

/* SEARCHBAR AND SECUNDARY NAVIGATION */

.lg-navigation,
.lg-trending {
  border-bottom: 1px solid hsla(0, 0%, 85%, 0.5);
}

.lg-navigation a {
  border-right: 1px solid #d9d9d9;
}

.lg-navigation a,
.lg-trending {
  font-size: 1.5rem;
}

.searchBar {
  border: none;
  width: 8rem;
}

.searchBar::placeholder,
.glass-icon {
  font-size: 1.7rem;
}

.glass-icon {
  margin-top: 0.5rem;
  margin-left: -1rem;
  color: #333;
}

/*-------------------*/

/* MAIN CONTENT */

/* ---------------------*/

/* TOP STORY */

.top-title,
.debate-header,
.opinion-title {
  font-size: 1.5rem;
  color: rgba(3, 3, 3, 0.4);
}

.story-img {
  position: relative;
}

.story-img-caption {
  position: absolute;
  left: 0;
  bottom: -10px;
  padding: 0.3rem 1.5rem;
  font-size: 1.8rem;
  color: #f72210;
  background: rgba(255, 255, 255, 0.9);
}

.main-title {
  font-size: 2.2rem;
  line-height: 24px;
}

.main-title-sm {
  font-size: 2rem;
  line-height: 20px;
}

.text-summary {
  color: #333;
  font-size: 1.3rem;
  line-height: 18px;
}

/*--------------------------------*/

/* FEATURED STORIES */

@media (min-width: 768px) {
  .featured-sticky {
    height: 2021px;
  }
}

/*------------------------------*/

/* DEBATE SECTION */

.debate-header {
  border-bottom-width: 5px;
}

.bottom-br-gray {
  border-bottom: 5px solid #d3d3d3;
}

.debate-img {
  width: 20%;
}

.debate-title,
.debate-ponent {
  font-size: 1.4rem;
}

.vs-container {
  position: relative;
  z-index: 0;
}

.vs-container::before,
.vs-container::after {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
}

.vs-container::before {
  top: calc(50% - 2px);
}

.vs-container::after {
  top: 50%;
}

.vs-tag {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  background-color: #000000;
  color: #d6d6d6;
  font-size: 1.4rem;
  border-radius: 50%;
  z-index: 1;
}

.debate-ponent {
  color: #555;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .debate-img {
    width: 10%;
  }
}

/*-----------------------*/

/* OPINION SECTION */

.opinion-title {
  border-bottom: none;
}

.opinion-section:last-child {
  border: none;
}

/*--------------------------------*/

/* PANTHOM SECTION */

.phanthom {
  height: 2rem;
  background-color: #fff;
}

/*----------------------------*/

/* TOP STORIES SECTION */

.top-story-title {
  font-size: 1.5rem;
}

/* ------------------------- */

/* MY TURN SECTION */

.my-turn-title {
  font-size: 1.4rem;
  color: rgba(3, 3, 3, 0.5);
}

.culture-trave-caption {
  padding: 0 0.5rem;
  font-size: 1.2rem;
  color: #333;
  background-color: #c2d4d7;
}

/*---------------*/

/* NEWSLETTER SECTION */

.newsletter-container,
.newsletter-footer {
  background-color: #f4f5f6;
}

.logo {
  width: 3rem;
  height: 3rem;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-right: 10px;
}

.subscribe-title {
  font-size: 1.6rem;
  line-height: 1;
  text-transform: uppercase;
}

.subscribe-input {
  height: 3rem;
}

.subscribe-input::placeholder {
  font-size: 1.4rem;
  color: #555;
  text-indent: 9px;
  font-weight: 500;
}

.sing-up-btn {
  font-size: 1.6rem;
  border: none;
}

@media (min-width: 768px) {
  .newsletter-container {
    width: 40% !important;
  }
}

/*-----------------*/

/* NEWS SECTION */

.news-title {
  font-size: 1.5rem;
}

.news-section {
  background-color: #fff;
}

.cover-block {
  background-color: #f72210;
  color: #fff;
  padding: 0.5rem;
}

.business-block {
  color: #f72210;
}

@media (min-width: 768px) {
  .subscribe-title {
    font-size: 1.7rem;
  }
  .news-title {
    font-size: 1.8rem;
  }
}

/*------------------------*/

/* EDITOR'S PICK */

.editor-title {
  font-size: 2rem;
  color: #f72210;
}

.editor-subtitle {
  font-size: 1.6rem;
  line-height: 1;
}

@media (min-width: 768px) {
  .main-title-sm {
    font-size: 2.2rem;
    line-height: 20px;
  }

  .text-summary {
    color: #333;
    font-size: 1.6rem;
    line-height: 18px;
  }
}

/*---------------------*/

/* SUBSCRIPTION CONTAINER */

.subscription-container {
  height: 45rem;
  background-color: #fff;
}

.subscription-content {
  background-color: #f4f5f6;
}

.sub-img-container {
  z-index: 0;
}

.subscription-text {
  z-index: 1;
  padding-top: 18rem;
}

.subscription-text h5,
.subscription-text p {
  width: 90%;
  font-size: 1.7rem;
}

.subscription-text p {
  font-size: 1.4rem;
}

.img-back {
  width: 17rem;
  top: 3rem;
  left: 20%;
}

.img-front {
  width: 17rem;
  top: 4.5rem;
  left: 40%;
}

@media (min-width: 768px) {
  .subscription-text {
    padding: 4rem 0;
  }

  .subscription-text h5,
  .subscription-text p {
    font-size: 2.2rem;
    text-align: left !important;
  }

  .subscription-text p {
    font-size: 1.5rem;
  }
}

/*---------------------------*/

/*NEWSLETTER */

.bg-newsletter {
  background-image: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5);
  background-position: center center;
}

.newsletter-text h3 {
  font-size: 2rem;
}

.newsletter-text p {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .newsletter-text h3 {
    font-size: 2.5rem;
  }

  .newsletter-text p {
    text-align: left !important;
    font-size: 1.7rem;
  }
}

/*---------------------*/

/* FOOTER */

.footer-logo {
  width: 60%;
  fill: #f72210;
}

.change-editions {
  font-size: 1.4rem;
  color: #666 !important;
}
.social-media a {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .footer-logo {
    width: 30%;
  }
}

/*-----------------------*/
